#
.\#*
.log
.svn
*.svn* 
*.rej
CVS 
Debug
tmp
Release
x64
win32
CMakeFiles
CMakeCache.txt
MakeFile.cmake
*_fymake.h
*.flymake
cmake_install.cmake
*~
*.suo
*.ilk 
*.pch 
*.ncb 
*.sdf
*.exe 
*.dll 
*.enc 
*.res 
*.o
*.obj 
*.log
*.sbr
*.tlh
*.tli
*.aps
*.exp
*.pdb
*.tab.c
*.tab.h
*.exe
*.output
*.BuilLog.htm
*.tlb
*.filters
*.tlog
*.vcxproj.user
Makefile.cmake
scenarios/
Bin